.App {
  color: var(--on-primary);
  height: 100vh !important;
  font-size: large;
  font-weight: bold;
  padding: 20px;
  transition: all .5s;
}

.block-container{
  background-color: var(--primary) !important;
  transition: all .5s;
  border-radius: 5px;
}

.block-container a{
  color: var(--on-primary) !important;
}

.block-container a:hover{
  color: var(--primary-variant) !important;
}

.block-container a:active{
  color: var(--primary-variant) !important;
}

.pointer{
  cursor: pointer;
}

.search-bar{
  background-color: var(--on-primary);
  color: var(--on-background);
}

.search-bar:active, .search-bar:focus, .search-bar{
  border: none;
  outline: none;
  box-shadow: none !important;
  background-color: var(--on-primary) !important;
  color: var(--on-background);
}

.search-button{
  background-color: var(--background) !important;
  color: var(--on-background);
  box-shadow: none;
  transition: all 0.6s;
}

.search-button:hover{
  background-color: var(--primary-variant) !important;
}

.search-button:active{
  background-color: var(--primary-variant) !important;
}

.dropdown-extra{
  background-color: var(--background) !important;
  color: var(--on-background) !important;
  transition: all 0.5s;
}

.dropdown-extra:hover{
  background-color: var(--primary-variant) !important;
  color: var(--on-primary) !important;
}

.link-hover{
  padding: 0;
}

.on-background-text{
  color: var(--on-background) !important;
}

.bold-text{
  font-family: 'Silkscreen', cursive;
  font-weight: bold;
  color: var(--on-background);
}

.normal-text{
  font-family: 'Silkscreen', cursive;
  font-weight: normal;
  color: var(--on-background);
}

.cormorant-normal{
  font-family: 'Cormorant', serif;
  font-weight: normal;
  color: var(--on-primary);
}

.cormorant-bold{
  font-family: 'Cormorant', serif;
  font-weight: bold;
  color: var(--on-primary);
}

@media (max-width: 768px) {
  .App{
    padding: 20px 0 !important;
  }

  .homepage-container {
    width: 100vw !important;
    margin: 0 !important;
  }
}