.small-swiper {
    margin-top: 3%;
    width: 45%;
    height: 35%;
}

.small-swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: var(--on-background);
    height: 90%;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.small-swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.small-swiper .swiper-pagination-bullet-active{
    background-color: var(--primary) !important;
}

@media (max-width: 768px) {

    .small-swiper{
        width: 90vw !important;
        margin: 0 5vw !important;
        height: 38vh;
    }

    .small-swiper .swiper-slide {
        width: 40vw !important;
        height: 33vh;
    }
    
}

@media (max-width: 1600px) {

    .small-swiper{
        width: 70%;
    }
    
}

@media (max-width: 1280px) {

    .small-swiper{
        width: 80%;
    }
    
}
