@media screen and (min-width: 1024px) and (max-width: 1600px){
  
}

@media screen and (min-width: 768px) and (max-width: 1023px){

}

@media screen and (max-width: 768px) {
  .homepage-container {
    width: 100vw !important;
    margin: 0 !important;
  }

  .add-to-cart {
    margin-top: 1rem !important;
  }
}