.login-form{
    background-color: var(--primary) !important;
    color: var(--on-primary) !important;
}

.button-hover:hover{
    background-color: var(--primary-variant);
    transition: all .5s;
}

.sign-up-hover:hover{
    color: var(--primary-variant) !important;
    transition: all .5s;
}

.form-outline .form-control:focus ~ .form-notch .form-notch-middle{
    border-color: var(--primary-variant);
    box-shadow: 0 1px 0 0 var(--primary-variant);
    border-top: 1px solid transparent;
}

.form-outline .form-control:focus ~ .form-notch .form-notch-leading{
    border-color: var(--primary-variant);
    box-shadow: -1px 0 0 0 var(--primary-variant),0 1px 0 0 var(--primary-variant),0 -1px 0 0 var(--primary-variant);
}

.form-outline .form-control:focus ~ .form-notch .form-notch-trailing{
    border-color: var(--primary-variant);
    box-shadow: 1px 0 0 0 var(--primary-variant),0 -1px 0 0 var(--primary-variant),0 1px 0 0 var(--primary-variant);
}

@media (max-width: 768px) {
    .card-body{
        width: 80vw !important;
    }
}