.login-form{
    background-color: var(--primary) !important;
    color: var(--on-primary) !important;
}

.button-hover:hover{
    background-color: var(--primary-variant);
    transition: all .5s;
}

.sign-up-hover:hover{
    color: var(--primary-variant) !important;
    transition: all .5s;
}

.form-outline .form-control:focus ~ .form-notch .form-notch-middle{
    border-color: var(--primary-variant);
    box-shadow: 0 1px 0 0 var(--primary-variant);
    border-top: 1px solid transparent;
}

.form-outline .form-control:focus ~ .form-notch .form-notch-leading{
    border-color: var(--primary-variant);
    box-shadow: -1px 0 0 0 var(--primary-variant),0 1px 0 0 var(--primary-variant),0 -1px 0 0 var(--primary-variant);
}

.form-outline .form-control:focus ~ .form-notch .form-notch-trailing{
    border-color: var(--primary-variant);
    box-shadow: 1px 0 0 0 var(--primary-variant),0 -1px 0 0 var(--primary-variant),0 1px 0 0 var(--primary-variant);
}

.invalid-feedback{
    font-family: 'Cormorant', serif;
    font-weight: bold;
    color: var(--error);
}

.login, .signup {
    color: var(--on-primary) !important;
}

@media screen and (min-width: 1024px) and (max-width: 1600px){
  
}

@media screen and (min-width: 768px) and (max-width: 1023px){

}

@media screen and (max-width: 768px) {
    #signup-tab .card-body{
        padding: 1.5rem !important;
    }

    .card{
        max-width: 80vw !important;
    }

    .card-body{
        width: 80vw !important;
    }

    .login-form{
        margin-top: 3rem !important;
    }

    .ask-data{
        margin-bottom: 0.5rem !important;
    }

    .footer-div{
       padding: 0.20rem !important;

    }

    .footer-item{
        top: 101.5% !important;
    }
}
