:root {
  --primary: #6200EE;
  --primary-variant: #3700B3;
  --secondary: #03DAC6;
  --background: #FFFFFF;
  --error: #B00020;
  --on-primary: #FFFFFF;
  --on-background: #000000;
  --on-error: #FFFFFF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

[data-theme='dark'] {
  --primary: #BB86FC;
  --primary-variant: #3700B3;
  --secondary: #03DAC6;
  --background: #121212;
  --error: #CF6679;
  --on-primary: #000000;
  --on-background: #FFFFFF;
  --on-error: #000000;
}

.block-container{
  background-color: var(--background) !important;
  transition: all .5s;
}

.block-container a{
  color: var(--on-background) !important;
}

